<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <div class="wrapper">
        <header class="header-container">
            <h1 class="logo">
            <a href="/">Tech Blog</a>
            </h1>
            <nav class="homepage-menu">
            <ul class="menu-items">
                <li><a href="/">Home</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/login">Login</a></li>
                <li id="logout"><a href="/">Logout</a></li>
            </ul>
            </nav>
        </header>
        <main>
            {{{body}}}
        </main>
        <footer>
            Thanks for visiting!
        </footer>
    </div>
<script src="/javascript/logout.js"></script>
</body>

</html>